@import "./src/main.less";

h1 {
  display: block;
  text-align: center;
  font-weight: 36px;
  width: 100%;
  position: fixed;
  margin: 12px;
  top: 0;
  left: 0;
}

span {
  display: inline-block;
  border-radius: 5px;
  background-color: #e5e5e5;
  padding: 10px;
}

.animation-table {
  margin-top: 60px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  div {
    padding: 10px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
